In [18]:
import pandas as pd
import numpy as np

In [4]:
df_re = pd.read_csv('../CSV Files/main.csv')
df_re.head()

,Index,User_id,Product_id,Username,Stars,Review,Review_cleaned,Combination,Dry,Normal,Oily,Sensitive,Skin_Tone,Skin_Type,Eye_Color,Hair_Color,category,price
0,1,3420,157.0,allyp3,5,This is hands down the best cleanser I've ever...,"['hand', 'best', 'cleanser', 'ever', 'used', '...",0,0,0,0,0,Medium,Combination,Brown,Brunette,Cleanser,36.0
1,2,2483,157.0,PatTea,1,Unfortunately this doesn't work for everyone. ...,"['unfortunately', 'work', 'everyone', 'used', ...",0,0,0,0,0,Medium,Combination,Brown,Red,Cleanser,36.0
2,3,2715,157.0,Sabi1991,5,My favorite cleanser!! i love the packaging on...,"['favorite', 'cleanser', 'love', 'packaging', ...",0,0,0,0,0,No data,No data,No data,No data,Cleanser,36.0
3,4,4497,157.0,happyface2,5,I love all things Youth To The People! This cl...,"['love', 'thing', 'youth', 'people', 'cleanser...",0,0,0,0,0,Fair,Dry,Blue,Blonde,Cleanser,36.0
4,5,5017,157.0,kimkix34,5,I had a trial size of this and was obsessed. M...,"['trial', 'size', 'wa', 'obsessed', 'skin', 'f...",0,0,0,0,0,Fair,Normal,Green,Blonde,Cleanser,36.0

In [11]:
size_dict = df_re.groupby(['User_id']).size().to_dict()
df_train  = df_re.groupby(['User_id']).apply(lambda x : x.sort_values(by = 'Index', ascending = True).head(round(len(x)*0.8))).reset_index(drop = True)
df_test   = df_re.groupby(['User_id']).apply(lambda x : x.sort_values(by = 'Index', ascending = True).tail(round(len(x)*0.2))).reset_index(drop = True)

In [15]:
df_train.to_csv('../CSV Files/train.csv', index=False)
df_test.to_csv('../CSV Files/test.csv', index=False)

In [16]:
number_reviews_per_user_test = df_test.groupby('User_id')['Product_id'].count().sort_values(ascending=False)

In [20]:
number_reviews_per_user_test

User_id
7005     6
975      5
7008     5
6983     4
7075     4
        ..
5159     1
5152     1
5122     1
5119     1
10048    1
Name: Product_id, Length: 507, dtype: int64

In [26]:
num_reviews_df_test = pd.DataFrame(np.unique(number_reviews_per_user_test, return_counts = True)).transpose()
num_reviews_df_test.rename(columns={0: "Review_count", 1: "User_count"})

   Review_count  User_count
0             1         454
1             2          39
2             3           9
3             4           2
4             5           2
5             6           1